* {
    background-color:darkgray
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial', Arial, sans-serif;
    text-align: center;
}

hr {
  height:2px; 
  border-width: 5; 
  color:antiquewhite; 
  background-color:antiquewhite
}

.container {
    width: 80%;
    margin: 0 auto;
  }

.side-by-side {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

.vertical-line {
    border-left: 3px solid antiquewhite;
    height: 700px;
    position: absolute;
    left: 50%;
    margin-top: -10px;
  }

input {
  background-color: white;
  color: black;
  margin-left: 5px;
}

.column-left,
.column-right {
  display: flex;
  align-items: center;
  margin-top: 30%;
}

